
<div class="posts">
    <% @posts.each do |post| %>

        <div class="title">
            <a> 
                <%= post.title %>
            </a>    
        </div>

        <div class="mt-4 mb-10">
            <%= post.description %>
        </div>

        <div class="mt-4 mb-10">
            <div class="flex item">
                <a> Comments (<%= post.comments.count %>) </a>

                <%= link_to "Delete", post_url(id: post.id, group_id: @group.id) , data: { turbo_method: :delete } %>

                <a> Edit </a>

                <a> Created By You </a>
            </div>
        </div>

        <div class="mt-4 mb-10">
             <a href="/posts/<%= post.id %>" class="btn-primary">
                View Post 
             </a>
        </div>

    <% end %>    
</div>